<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kullanıcı Girişi ve Bearer Token Kullanımı</title>
</head>
<body>

<h2>Kullanıcı Girişi</h2>

<form id="loginForm" onsubmit="submitForm(event)">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br><br>

  <button type="submit">Giriş Yap</button>
</form>

<p id="response"></p>

<script>
  function submitForm(event) {
    event.preventDefault();

    const apiUrl = "/customer/generateToken"; // API URL - Backend'de token üreten endpoint'in URL'i

    const formData = {
      email: document.getElementById("email").value,
      password: document.getElementById("password").value
    };

    fetch(apiUrl, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(formData)
    })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              const token = data.data;

              // Token'i Bearer Token olarak kullanarak korunan sayfaya erişim
              fetch("/profile", {
                headers: {
                  "Authorization": `Bearer ${token}`
                }
              })
                      .then(response => {
                        if (!response.ok) {
                          throw new Error('Network response was not ok');
                        }
                        return response.json();
                      })
                      .then(data => {
                        document.getElementById("response").innerText = 'Korunan Sayfa: ' + JSON.stringify(data);
                        // Başarılı erişim durumunda istenilen işlemleri yapabilirsiniz
                      })
                      .catch(error => {
                        document.getElementById("response").innerText = 'Error: ' + error.message;
                      });
            })
            .catch(error => {
              document.getElementById("response").innerText = 'Giriş başarısız. Lütfen bilgilerinizi kontrol edin.';
            });
  }
</script>

</body>
</html>
