<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XXX Bank</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>
</header>
<main>
    <div>
        <form id="login-form" method="post" action="/login">
            <fieldset>
                <legend>Giriş Yap</legend>
                <div>
                    <label for="username">E-posta</label>
                    <input type="email" id="username" name="username" required placeholder="mail@mail.com">
                </div>
                <div>
                    <label for="password">Şifre</label>
                    <input type="password" id="password" name="password" required placeholder="Şifre">
                </div>
                <button type="submit">Giriş Yap</button>
            </fieldset>
        </form>
    </div>
</main>
<footer>
    <pre>Furkan Aydemir <a href="https://github.com/" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a> | <a href="https://www.behance.net/" target="_blank">Behance</a></pre>
</footer>
</body>
</html>
