<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XXX Bank</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>
</header>
<main>
    <div>
        <form id="login-form" action="/login" method="post">
            <fieldset>
                <legend>Log In</legend>
                <div>
                    <label for="username">Email</label>
                    <input type="email" id="username" name="username" required placeholder="mail@mail.com">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <button type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</main>
<footer>
    <pre>Furkan Aydemir <a href="#" target="_blank">GitHub</a> | <a href="#" target="_blank">LinkedIn</a> | <a href="#" target="_blank">Behance</a></pre>
</footer>
</body>
<script>
</script>
</html>
