<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XXX Bank</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/profile.css">
  <style>

  </style>
</head>
<body>
<header>
  <div class="menu-icon" onclick="toggleMenu()">☰</div>
  <nav>
    <ul id="nav-menu">
      <li><a href="/transfer">Money Transfer</a></li>
      <li><a href="/profile">Account Info</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</header>
<main>
  <div>
    <form>
      <h2>Welcome <span id="fullname"></span></h2>
      <div>
        <label for="balance">Balance</label>
        <input type="text" id="balance" disabled>
      </div>
      <div>
        <label for="iban">IBAN</label>
        <input type="text" id="iban" disabled>
      </div>
    </form>
    <button class="add-balance-button" onclick="addBalance()">Add Balance</button>
  </div>
</main>
<footer>
  <pre>Furkan Aydemir <a href="#" target="_blank">GitHub</a> | <a href="#" target="_blank">LinkedIn</a> | <a href="#" target="_blank">Behance</a></pre>
</footer>

<script src="/js/profile.js"></script>
</body>
</html>
