<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XXX Bank - Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<header>
    <h1>Register to XXX Bank</h1>
</header>
<main>
    <div>
        <form id="registerForm">
            <h2>Create an Account</h2>
            <div>
                <label for="firstName">Firstname</label>
                <input type="text" id="firstName" required>
            </div>
            <div>
                <label for="lastName">Lastname</label>
                <input type="text" id="lastName" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" required>
            </div>
            <div>
                <label for="phone">Phone</label>
                <input type="tel" id="phone" required>
            </div>
            <div>
                <label for="birthDate">Birth Date</label>
                <input type="date" id="birthDate" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</main>
<footer>
    <pre>Furkan Aydemir <a href="#" target="_blank">GitHub</a> | <a href="#" target="_blank">LinkedIn</a> | <a href="#" target="_blank">Behance</a></pre>
</footer>
<script src="/js/register.js"></script>
</body>
</html>
