<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XXX Bank</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/transfer.css">
</head>
<body>
<header>
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
    <nav>
        <ul id="nav-menu">
            <li><a href="/transfer">Money Transfer</a></li>
            <li><a href="/profile">Account Info</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
</header>
<main>
    <div>
        <form>
            <div>
                <label for="iban">IBAN</label>
                <input type="text" id="iban" maxlength="26">
            </div>
            <div>
                <label for="balance">Amount</label>
                <input type="number" id="balance" min="0" maxlength="1000000" max="1000000" step="any">
            </div>
            <div>
                <label for="description">Description</label>
                <textarea id="description" style="resize: none" cols="45" rows="10" maxlength="256"></textarea>
            </div>
            <button type="button" onclick="sendBalance()">Send</button>
        </form>
    </div>
</main>
<footer>
    <pre>Furkan Aydemir <a href="#" target="_blank">GitHub</a> | <a href="#" target="_blank">LinkedIn</a> | <a href="#" target="_blank">Behance</a></pre>
</footer>

<script src="/js/transfer.js"></script>
</body>
</html>
